:root {
    --col-main: #BDFCC9;
    --col-aux: #F0F8FF;
    --col-accent: #61e49a;
    --col-accent-light:#38a567;
    --col-text:#21663f;
    --link-select: #008888;
    --navbar-bg: #224444;
    --input-border: #00a0a080;
}

body {
    background-color: var(--col-main);
    margin: 0;
    height: 100vh;
}

.login-container {
    width: 30%;
    padding: 1%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: rgba(255, 255, 255, 0.25);
}

p, label, a, span, #login-title {
    font-family: Arial, Helvetica, sans-serif;
}

input, select, button {
    width: 200px;
    height: 70px;
    border-radius: 70px;
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    outline: none;
    font-size: 18px;
    font-weight: bold;
    color: var(--col-text);
    align-items: center;
}

input, select {
    display: block;
    margin-bottom: 20px;
    text-align: center;
  }
  
input, select, #confirm {
    width: 500px;
    -moz-appearance: none; /* Usuwa standardowy wygląd przeglądarek Firefox */
    -webkit-appearance: none; /* Usuwa standardowy wygląd przeglądarek Webkit */
    appearance: none; /* Usuwa standardowy wygląd wszystkich przeglądarek */
    text-align-last: center; /* Centruje tekst w selekcie dla przeglądarek obsługujących */
}

::placeholder {
    color: #21663f;
    text-align: center;
  }

select option[disabled] {
    color: #aaa; /* Kolor wstępnie wyświetlanej opcji */
}

#login-text {
    display: block;
    font-size: .5cm;
    margin-top: 5%;
    padding: .25cm;
    background-color: var(--col-text);
    color: var(--col-main);
}

nav {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
    padding: 20px;
    background-color: var(--col-accent);
    z-index: 1;
}

.nav-img, .nav-elem {
    position: relative;
    display: table-cell;
    float: left;
    overflow: hidden;
    font-size: large;
    margin-top: 0;
    margin-bottom: 0;
}

.nav-img {
    max-height: 2.13cm;
    max-width: 10cm;
    height: auto;
    width: auto;
    display: flex;
}

.nav-elem {
    height: 100%;
    padding: .8cm;
}

.nav-elem:hover {
    background-color: #ffffff40;
}

.nav-left {
    float: left;
}

.nav-right {
    float: right;
}

.nav-btn {
    margin-right: 20px;
}

.nav-container {
    overflow: hidden;
    width: 100vw; /* vw = viewport width */
}

.nav-filler {
    overflow: hidden;
    display: table-cell;
    width: fit-content;
}

footer {
    position: fixed;
    display: grid;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
    margin-top: auto;
    background-color: var(--col-accent);
    color: var(--col-text);
    font-size: 25px;
}

#ig-icon {
    height: 60px;
    margin-right: 20px;
}

#mail-icon {
    height: 60px;
}

#course-input {
    font-size: xx-large;
}

.course-container {
    align-content: center;
}